/* NAV BAR */
.navbar {
    background-color: #683f2800;
    z-index: 19 !important;
    
}
.navBarH1 {
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 3px 1px 5px #000000;
}
.navBarText {
    color: #ffffff;
    font-weight:bold;
    font-size:26px;
    text-shadow: 2px 1px 5px #000000;
}
.navBarText:hover {
    color: #000000 !important; /* Wouldn't overwrite the :hover blue - forced hover black */
}
/* END OF NAV BAR */

/* HERO SECTION */

.hero-body{
    height: 750px;
    margin-top: 2%;
}
#hero {
    background-color: black;
    background-image: url(../images/todd-quackenbush-x5SRhkFajrA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: 5px 1px 15px #000000;
}
/* END OF HERO SECTION */

/* FORM */
#user-form {
    text-align: center;
    background: #00000014;
    height: 100%;
    margin-top: 45px;
    box-shadow: 1px 1px 5px #000000; 
    padding-bottom: 185px;
}
.formLabel {
    font-size: 25px;
    font-weight: bolder;
    color: #f1f1f1;
    text-shadow: 1px 2px 5px black;
}
.formLabel p {
    margin-bottom: 25px;
}
#recipeSearch {
    border: 1px solid black;
    height: 50px;
    box-shadow: 1px 1px 30px #000000;
}
#recipeSearch:focus {
    transform: scale(1.1);
}
#searchRecBtn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}
#searchRecBtn:hover {
    background-color: #929191;
    color: white;
    transform: scale(1.0);
}
/* END OF FORM */

/* RECIPE DIV AND ITEMS */
.newDiv { /* Does this not have anything for it? */
    background-position: center;
    height: 190px;
    background-size: cover;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 20px 20px 55px #404040; 
    
}
.recipeH3 { /* Does this not have anything for it? */
    opacity:0;
    color: white;
    font-weight: bolder;
    background-color: #0000001f;
    border-radius: 10px;
    background-size: cover;
    text-align: center;
    text-shadow: 3px 1px 5px #000000;
    
    font-size: 30px;
}
.recipeH3:hover {
    opacity: 1;
}
.recipeH3Active{
    opacity: 1;
    position: absolute;
    top: 2px;
}
/* DAY OF WEEK BUTTONS AND CARDS */

.daysBtnsDiv{
    margin-left: 7.5%;
    z-index: 15;
}
/* END OF RECIPE DIV AND ITEMS */

/* DAY OF WEEK BUTTONS AND CARDS */
/* DAYS BUTTON */
#dayOfWeekSec{
    background-color: #764422a6;
}
/* DAY OF WEEK BUTTONS AND CARDS */
.dayOfWeekCard{
   
    border: 1px solid black;
    background-color: #ffffffcc;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 50px;
    box-shadow: 1px 10px 15px #000000;
}
.daysBtnsDiv{
    margin-left: 7.5%;
    z-index: 20;
   
}
.daysBtns{
    z-index: 99;
    color: white;
    font-size: 20px;
    background-color: #2d2c2b;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #0000004d;
    box-shadow:inset 1px 2px 3px #000000;
    text-shadow: 2px 1px 5px #000000;
    margin-left: 2%;
    font-weight: bolder;
}
.dayCard{
    font-size: 35px;
    font-weight: bolder;
    color: black;
}
.photoDiv{
    background-color: black;
}
.classImage{
    background-position: center;
    background-size: cover;
    border: 1px solid #868686;
    border-radius: 5px;
    width: 100%;
    box-shadow: inset 2px 1px 15px #000000; 
}

.cardImg{
    height: 280px;
    
}


.figureImg{
    background-size: cover;
    background-position:center;
    width: 100%;
    Height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black inset;
}

.btnSnap{
    width: 21.5% !important;
    position:absolute;
    top: 350px;
    left: 30px;
    background-color: #ffffff;
    margin-left: -15px;
    margin-top: -55px;

}


/* END OF THE WEEK CARD */
/* END OF DAY OF WEEK BUTTONS AND CARDS */

/* START OF CALORIE CALCULATOR*/
.calc-wrap {
    background-color: #ffffffcc;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 10px 15px #000000;
    margin-top: 20px;
}

.calc-wrap h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.info-form {
    display: flex;
    justify-content: space-around;
}
/* END OF CALORIE CALCULATOR STYLING */


/* FOOTER SECTION */
.footer {
    background-color: #2d2c2b;
}
.footSections {
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 20px 30px #000000;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #A6856F;
    width: 33%;
}
.footHeader {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.listOfDev {
    font-size: 20px;
}
.listOfDev a {
    color: black;
    text-align: center;
}
.listOfDev a:hover {
    color: white;
}
/* END OF FOOTER SECTION */

#results{
    color: black;
    font-size: 20px;
    font-weight: bolder;
}
.calc-wrap h3{
    margin-bottom: 10px;
    font-size: 22px;
    color: black;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    #hero{
        overflow:scroll;
    }
  }

@media screen and (max-width: 575px) {
    .info-form {
        flex-wrap: wrap;
    }
}
    
